{% extends "base.html" %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Pending Lab Service Requests</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Patient</th>
                                <th>Lab Service</th>
                                <th>Requested By</th>
                                <th>Request Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for request in requests %}
                            <tr>
                                <td>
                                    {{request.lab_result_id}}
                                </td>
                                <td>
                                    {{ request.patient_first_name }} {{ request.patient_last_name }}
                                </td>
                                <td>
                                    {{ request.lab_service_name }}
                                </td>
                                <td>
                                    {{ request.doctor_first_name }} {{ request.doctor_last_name }}
                                </td>
                                <td>
                                    {{ request.created_at.strftime('%Y-%m-%d %H:%M') }}
                                </td>
                                <td>
                                    
                                    <a href="{{ url_for('add_lab_result', patient_id=request.patient_id, lab_result_id=request.lab_result_id, lab_service_name=request.lab_service_name, firstname=request.patient_first_name, lastname=request.patient_last_name)}}" 
                                       class="btn btn-primary btn-sm">
                                        <i class="fa fa-plus"></i> Add Result
                                    </a>
                                   
                                </td>
                            </tr>
                            
                       
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
